.first{
    padding: 12px;
    background-color: rgb(76, 0, 153);
    color: white;
}

.second{
    padding: 12px;
    background-color: rgb(153, 51, 255);
    color: white;
}
.third{
    padding: 12px;
    background-color: rgb(255, 153, 153);
    color: white;
}
.fourth{
    padding: 12px;
    background-color: rgb(255, 178, 102);
    color: black;
}
.fifth{
    padding: 12px;
    background-color: rgb(255, 255, 153);
    color: black;
}
.sixth{
    padding: 12px;
    background-color: rgb(255, 255, 255);
    color: black;
}